.banner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: cover !important;
  background-position: bottom;
  .logo-ujm-fondation {
    align-self: flex-end;
  }
  p {
    align-self: left;
    margin-left: 50px;
    width: 40%;
  }
  .logo-white {
    align-self: left;
    margin-left: 50px;
    margin-bottom: 8px;
  }
  .content-main {
    min-width: 100%;
    position: relative;
    padding-top: 5px;
  }
  span {
    border-bottom: 1px solid $blue;
    box-shadow: inset 0 -15px $blue;
  }
}


.banner-video {
  background-color: white;
  min-height: 100vh;
  h3 {
    margin-top: 0px;
  }
  p {
    font-size: 28px;
    color: $dark_blue;
  }

  .play-size {
    display: flex;
    justify-content: flex-start;
  }

  img {
    margin-top: 6px;
    margin-left: 15px;
  }
}

.banner-partners {
  min-height: 105vh;
  background-color: #F4F7F8;
  h3 {
    margin-top: 40px;
  }
  p {
    font-size: 28px;
    color: $dark_blue;
  }
}
